
@font-face {
	font-family: sg;
	src: url('https://raw.githubusercontent.com/ValeryVishnevezky/Happy-Birthday/main/fonts/SourGummy-Regular.ttf');
  }
  
  @font-face {
	font-family: lato;
	src: url('https://raw.githubusercontent.com/ValeryVishnevezky/Happy-Birthday/main/fonts/Lato-Regular.ttf');
  }